#mainBackground{
    -fx-background-image: url("../images/UIbackground.png");
}

@font-face {
    font-family: 'Storystone';
    src: url('../fonts/Storystone.ttf');
}

Button{
    -fx-font: 15px Storystone;
}

#newAssignmentButton{
    -fx-background-color: #D5BDAF;
    -fx-text-fill: #ECECE8;
}

#newAssignmentButton:hover{
    -fx-background-color: #ECECE8;
    -fx-text-fill: #D5BDAF;
}
#newAssignmentButton:pressed{
    -fx-background-color: #ECECE8;
    -fx-text-fill: #ECECE8;
}

#pastAssignmentButton{
    -fx-background-color: #D7CCC2;
    -fx-text-fill: #ECECE8;
}

#pastAssignmentButton:hover{
    -fx-background-color: #ECECE8;
    -fx-text-fill: #D7CCC2;
}

#pastAssignmentButton:pressed{
    -fx-background-color: #ECECE8;
    -fx-text-fill: #ECECE8;
}

.table-view {
    -fx-background-color: transparent;
}